body {
  font: 100%/1.5 system-ui;
  margin: auto;
  max-width: 100ch;
  padding: 1em;
}

:root {
  --color-accent: hotpink;
}

html {
  accent-color: var(--color-accent);
  color-scheme: light dark;
}

nav {
  display: flex;
  gap: 0;
  margin-bottom: 2em;
  border-bottom: 1px solid oklch(80% 3% 200);
  padding-right: 8em;
}

nav a {
  flex: 1;
  text-align: center;
  color: inherit;
  text-decoration: none;
  padding: 0.5em;
  border-bottom: 0.4em solid transparent;
}

nav a.current {
  border-bottom-color: oklch(70% 3% 200);
}

nav a:hover {
  border-bottom-color: var(--color-accent);
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;
  overflow: visible;
}


.legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  gap: 1em;
  border: 1px solid #ccc;
  padding: 1em;
  margin-block: 1em 2em;
  list-style: none;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.swatch {
  width: 1em;
  aspect-ratio: 1 / 1;
  background: var(--color);
  border-radius: 0.2em;
  display: inline-block;
}